<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <title>Janken GAME!</title>
</head>

<body>
  <div sec:authorize="isAuthenticated()">
    <a th:href="@{/logout}">ログアウト</a>
  </div>

  <h1>Janken GAME!</h1>

  <h2>エントリー</h2>
  <ul>
    <li th:each="user : ${entryUsers}" th:text="${user}"></li>
  </ul>

  <p>Hi <span th:text="${loginUser}"></span></p>

  <p>
    <a th:href="@{/janken/game(hand='Gu')}">ぐー</a>
    <a th:href="@{/janken/game(hand='Choki')}">ちょき</a>
    <a th:href="@{/janken/game(hand='Pa')}">ぱー</a>
  </p>

  <div th:if="${janken}">
    <p>あなたの手 <span th:text="${janken.playerHand}"></span></p>
    <p>相手の手 <span th:text="${janken.cpuHand}"></span></p>
    <p>結果 <span th:text="${janken.result}"></span></p>
  </div>

</body>

</html>
